

.swiper {
  width: 100%;
  padding-bottom: 60px;
  
}
.swiper-slide {
  position: relative;
  width: 300px !important;
  height: 400px;
  box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
  user-select: none;
}

.swiper-slide-active {
  width: 800px !important;
  height: 450px;

  transition: width 1s ease-in-out;
  border: 3px solid var(--main-color);
}
.swiper-slide img {
  position: absolute;
  inset: 0;
  filter: grayscale(90%);
}

.swiper-slide-active img {
  filter: grayscale(0%);
}
.title {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px 25px 30px;
}
.title h1 {
  color: white;
  font-size: 18px;
  color: var(--main-color);
  font-weight: 700;
  opacity: 1;
  transition: 0.8s ease;
  transition-delay: 1s;
}
.swiper-slide-active .title h1 {
  opacity: 0;
  transition-delay: -200ms;
}

.content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 25px 20px 65px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    180deg,
    transparent,
    transparent,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.7)
  );
  color: white;
  opacity: 0;
  z-index: 1;
}
.swiper-slide-active .content {
  opacity: 1;
  transition: 0.8s;
  transition-delay: 0.5s;
}

.text-box {
  border-left: 4px solid var(--main-color);
  padding-left: 10px;
  margin-bottom: 8px;
  opacity: 0;
}

.swiper-slide-active .text-box {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 1s;
}

.text-box p {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  transform: translateY(100%);
  opacity: 0;
}
.swiper-slide-active .text-box p {
  transform: translateY(0);
  opacity: 1;
  transition: 1.5s ease;
  transition-delay: 1s;
}
.footer {
  position: absolute;
  bottom: 20px;
  left: 25px;
  width: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}
.swiper-slide-active .footer {
  opacity: 1;
}
.category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.category span {
  color: var(--main-color);
  padding: 5px 15px;
  border-radius: 30px;
  font-size: 0.8rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
}
.swiper-slide-active .category span {
  opacity: 1;
  transition: 0.8s ease-out;
  transition-delay: calc(1.5s + var(--i) * 0.4s);
}
.swiper-slide .swiper-slide button {
  position: relative;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 15px;
  background: var(--main-color);
  color: black;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  opacity: 0;
}
.swiper-slide-active .swiper-slide button {
  opacity: 1;
  transition: 0.8s ease-out;
  transition-delay: 3s;
}
.label {
  position: relative;
}
.swiper-slide button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: 0.5s cubic-bezier(0, 0, 0, 2, 1);
  background: var(--main-color);
  border-radius: 50%;
}
.swiper-slide button:hover::before {
  width: 200%;
  height: 200%;
}
.swiper-slide button:hover .label {
  color: white;
}
.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background-color: white !important;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  width: 30px !important;
  border-radius: 14px;
  background-color: var(--main-color) !important;
  transition: all 0.8s ease-in-out;
}
@media (max-width: 800px) {
  .swiper-slide-active {
    width: 500px !important;
  }
}
@media (max-width: 650px) {
  .swiper-slide-active {
    width: 400px !important;
  }
  .text-box p {
    font-size: 0.6rem;
  }
  .category span {
    font-size: 0.7rem;
    padding: 3px 8px;
  }
  .swiper-slide button {
    font-size: 0.7rem;
    padding: 7px 14px;
  }
}
@media (max-width: 520px) {
  .swiper-slide-active {
    width: 350px !important;
  }
  .title h1 {
    font-size: 2rem;
  }
  .text-box {
    margin-bottom: 0;
  }
  .text-box p {
    font-size: 0.6rem;
    line-height: 1.3;
  }
  .category {
    gap: 5px;
  }
  .category span {
    font-size: 0.6rem;
    padding: 2px 5px;
  }
  .swiper-slide button {
    font-size: 0.6rem;
    padding: 5px 12px;
  }
}
